.padre{
    width: 500px;
    height: 500px;
    border: black 1px solid;
    position: relative;
}
.hijo{
    width: 100px;
    height: 100px;
    border: blue 1px solid;
    position: absolute;
    top: 0;
    
    right: 50%;
    
}
.medio{
    width: 250px;
    height: 250px;
    border: 1px red solid;
    margin-left: 50px;
}